/*********************************
 *  public wiki theme for ikiwiki
 *
 * by Danny Castonguay
 *********************************/


.pageheader .header {
  z-index: 19;

}

h1, h2, h3, h4, h5, h6 {
	color: rgb(218,51,36);
}

.header {
  font-size: 110%;
  }

h1 {
  font-size: 24px;
  color: rgb(218, 51, 36);
}

h2 {
  font-size: 130%;
}

h3, h4, h5, h6 {
  font-size: 110%; }

#searchform {
  visibility: hidden;
}

input#searchbox {
  border: none;
  padding: .5em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 2px 2px 2px #1a1a1a;
  -webkit-box-shadow: inset 2px 2px 2px #1a1a1a;
  box-shadow: inset 2px 2px 2px #1a1a1a; }

.pageheader .actions {
/*  visibility: hidden; /* Gonéri */
  position: absolute;
  bottom: 0;
  right: 2em;
  width: 400px;
  text-align: right; 
  z-index: 20;
}

.pageheader .actions ul {
  border-style: none;
  font-size: 50%;
  
  }

.actions ul {
  padding: 1em;
  border-style: none; }

.pageheader .actions ul li {
  padding: 0; }

.pageheader .actions ul li a, input[type="submit"] {
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1.01em;
  background: gray;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .pageheader .actions ul li a:hover, input[type="submit"]:hover {
    background: #e68019;
    color: white; }

div.toggleable#attachments {
  margin: 1em; }

body {
        font-size: 100%;
        line-height: 1.5em;
        font-family: 'Helvetica', Arial, Verdana, Monaco, Times;
        text-align: center;
        background: #d2d7dc url(images/background-body.png) no-repeat top center;
        margin: 0;
        padding: 0;
}

a {
  text-decoration: none;
	color: #327fbd;
}

a:hover {
	color: #327fbd;
	text-decoration: underline;
}

hr {
  border-style: none;
  background-color: gray;
  height: 1px; }

code, pre {
  background-color: #f2f2f2;
  color: #2e1a05; }

pre {
  padding: .5em;
  margin: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 2px #1a1a1a;
  -webkit-box-shadow: 0px 0px 2px #1a1a1a;
  box-shadow: 0px 0px 2px #1a1a1a; }

#comments, #footer {
  margin: 1em 2em; }

#pageinfo {
  border-color: gray; }

#editcontent, #editmessage {
  width: 90%;
  background: #f2f2f2;
  font-size: 1.01em;
  font-family: Consolas, Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  line-height: 1.4em;
  padding: .5em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #editcontent:hover, #editmessage:hover {
    background: white; }

#editcontent {
  height: 25em; }

label[for="editmessage"] {
  margin-top: 1em; }

#editmessage {
  margin-bottom: 1em; }

.inlinepage {
  margin: .4em 0;
  padding: .4em 0;
  border-style: none;
  border-top: 1px solid gray; }

.inlineheader {
  font-size: 1.1em;
}

.inlinepage h2 {
  font-size: 1.01em; }

.inlinepage h3 {
  font-size: 1.01em; }

div.recentchanges {
  border-style: none; }

/* recent change page */
div.recentchanges {
  background-color: white; }
  div.recentchanges div.metadata {
    margin-top: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid solid none solid;
    background-color: #f2f2f2;
    padding: .7em; }
  div.recentchanges div.changelog {
    padding: .7em 2em; }

div.recentchanges div.metadata *, span.pagelinks a {
  float: none;
  display: block; }

span.pagelinks {
  width: inherit !important; }

span.pagelinks a, span.tags a {
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1.01em;
  background: #e6e6e6;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  span.pagelinks a:hover, span.tags a:hover {
    background: #cccccc;
    color: black; }

div.recentchanges div.changelog {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none solid solid solid;
  background-color: #f2f2f2 !important; }

span.desc br {
  display: none !important; }

div.titleandtags {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-top: 1.5em;
  padding: .8em; }
  div.titleandtags h3, div.titleandtags span.tags {
    padding: 0; }
  div.titleandtags h3 {
    margin: 0 0 .5em 0; }
  div.titleandtags span.tags {
    line-height: 2em; }
  div.titleandtags div.lastmodified {
    float: right; }

thead th {
  color: white;
  background-color: gray;
  padding: .5em; }

td {
  padding: .2em .4em; }

tr:nth-child(odd) {
  background-color: #f2f2f2; }

tr:nth-child(even) {
  background-color: #d9d9d9; }

/* Don't know what these last two do but leaving those there just in case*/
.pagecloud {
  width: auto;
  border-color: red; }

#backlinks {
  right: 2em;
  text-align: right;
}

.pagedate {
  text-align: right;
  font-size: 63%;
}



/* ikiwiki style sheet */

/* Note that instead of modifying this style sheet, you can instead edit
 * local.css and use it to override or change settings in this one.
 */

/* html5 compat */
article,
header,
footer,
nav {
	display: block;
}

.header {
        width: 980px;
        text-align: left;
        height: 30px;
        position: relative;
        padding: 0;
        margin: 0;
        min-width: 860px;
        overflow: hidden;
}

.inlineheader .author {
	margin: 0;
	font-size: 112%;
	font-weight: bold;
	display: block;
}

.actions ul {
	margin: 0;
	padding: 6px .4em;
	height: 1em;
	list-style-type: none;
}
.actions li {
	display: inline;
	padding: .2em;
}

.inlinepage .actions ul {
	border-bottom: 0;
}

#otherlanguages ul {
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
#otherlanguages li {
	display: inline;
	padding: .2em .4em;
}
.pageheader #otherlanguages {
	border-bottom: 1px solid #000;
}

.inlinecontent {
	margin-top: .4em;
}

.pagefooter,
.inlinefooter,
.comments {
	clear: both;
}

#pageinfo {
	margin: 1em 0;
	border-top: 0px solid #000;
}

.tags {
	margin-top: 1em;
}

.inlinepage .tags {
        display: inline;
}

.mapparent {
	text-decoration: none;
}

.img caption {
	font-size: 80%;
	caption-side: bottom;
	text-align: center;
}

img.img {
	margin: 0.5ex;
}

.align-left {
	float:left;
}

.align-right {
	float:right;
}

#backlinks {
	margin-top: 1em;
}

#editcontent {
	width: 98%;
}

.editcontentdiv {
	width: auto;
	overflow: auto;
}

img {
	border-style: none;
}

pre {
	overflow: auto;
}

div.recentchanges {
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	width: auto;
	clear: none;
	background: #eee;
	color: black !important;
}
.recentchanges .metadata {
	padding: 0px 0.5em;
}
.recentchanges .changelog {
	font-style: italic;
	clear: both;
	display: block;
	padding: 1px 2px;
	background: white !important;
	color: black !important;
}
.recentchanges .desc {
	display: none;
}
.recentchanges .diff {
	display: none;
}
.recentchanges .committer {
	float: left;
	margin: 0;
	width: 40%;
}
.recentchanges .committype {
	float: left;
	margin: 0;
	width: 5%;
	font-size: small;
}
.recentchanges .changedate {
	float: left;
	margin: 0;
	width: 35%;
	font-size: small;
}
.recentchanges .pagelinks,
.recentchanges .revert {
	float: right;
	margin: 0;
	width: 60%;
}

.blogform, #blogform {
        visibility: hidden;
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: black !important;
	width: auto;
	overflow: auto;
}

.inlinepage {
	padding: 10px 10px;
	border: 1px solid #aaa;
	overflow: hidden;
}

.pagedate,
.pagelicense,
.pagecopyright {
	font-style: italic;
	display: block;
	margin-top: 1em;
}

.error {
	color: #C00;
}

.sidebar {
	width: 980px;
	float: center;
        background: url(images/bgmenu.png) repeat-x top left;
        height: 75px;
        padding: 0;
        margin: 0;
        overflow: hidden;
	border-width:0px;
}

hr.poll {
	height: 10pt;
	color: white !important;
	background: #eee;
	border: 2px solid black;
}
div.poll {
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
}

span.color {
	padding: 2px;
}

.comment-header,
.microblog-header {
	font-style: italic;
	margin-top: .3em;
}
.comment .author,
.microblog .author {
	font-weight: bold;
}
.comment-subject {
	font-weight: bold;
}
.comment-avatar {
	float: right;
}
.comment {
	border: 1px solid #aaa;
	padding: 3px;
}

div.progress {
	margin-top: 1ex;
	margin-bottom: 1ex;
	border: 1px solid #888;
	width: 400px;
	background: #eee;
	color: black !important;
	padding: 1px;
}
div.progress-done {
	background: #ea6 !important;
	color: black !important;
	text-align: center;
	padding: 1px;
}

/* things to hide in printouts */
@media print {
	.actions { display: none; }
	.tags { display: none; }
	.trails { display: none; }
	.feedbutton { display: none; }
	#searchform { display: none; }
	.blogform, #blogform { display: none; }
	#backlinks { display: none; }
}

/* infobox template */
.infobox {
	float: right;
	margin-left: 2ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
	background: white;
	color: black !important;
}

/* warningbox template */
.warningbox {
	float: right;
	margin-left: 2ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding: 1ex 1ex;
	border: 1px solid #aaa;
	background: white;
	color: black !important;
}



/* popup template and backlinks hiding */
.popup {
	border-bottom: 1px dotted #366;
	color: #366;
}
.popup .balloon,
.popup .paren,
.popup .expand {
	display: none;
}
.popup:hover .balloon,
.popup:focus .balloon {
	position: absolute;
	display: inline;
	margin: 1em 0 0 -2em;
	padding: 0.625em;
	border: 2px solid;
	background-color: #dee;
	color: black;
}

/* form styling */
fieldset {
	margin: 1ex 0;
	border: 1px solid black;
}
legend {
	padding: 0 1ex;
}
.fb_submit {
	float: left;
	margin: 2px 0;
}
label.block {    
	display: block;   
}
label.inline {    
	display: inline;
}
input#openid_identifier {
	background: url(wikiicons/openidlogin-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
	padding-left: 18px;
}
input#searchbox {
	background: url(wikiicons/search-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 100% 50%;
	color: #000;
	padding-right: 16px;
}
/* invalid form fields */
.fb_invalid {
	color: red;
	background: white !important;
}
/* required form fields */
.fb_required {
	font-weight: bold;
}

/* highlight plugin */
pre.hl { color:#000000; background-color:#ffffff; }
.hl.num { color:#2928ff; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#ff0000; }
.hl.dstr { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.dir { color:#008200; }
.hl.sym { color:#000000; }
.hl.line { color:#555555; }
.hl.mark { background-color:#ffffbb; }
.hl.kwa { color:#000000; font-weight:bold; }
.hl.kwb { color:#830000; }
.hl.kwc { color:#000000; font-weight:bold; }
.hl.kwd { color:#010181; }

/* calendar plugin */
.month-calendar-day-this-day,
.year-calendar-this-month {
	background-color: #eee;
}
.month-calendar-day-head,
.month-calendar-day-nolink,
.month-calendar-day-link,
.month-calendar-day-this-day,
.month-calendar-day-future {
	text-align: right;
}
.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 150%;
}

/* outlines */
li.L1 { list-style: upper-roman; }
li.L2 { list-style: decimal; }
li.L3 { list-style: lower-alpha; }
li.L4 { list-style: disc; }
li.L5 { list-style: square; }
li.L6 { list-style: circle; }
li.L7 { list-style: lower-roman; }
li.L8 { list-style: upper-alpha; }

/* tag cloud */
.pagecloud {
	float: right;
	width: 30%;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: black !important;
}
.smallestPC { font-size: 70%; }
.smallPC { font-size: 85%; }
.normalPC { font-size: 100%; }
.bigPC { font-size: 115%; }
.biggestPC { font-size: 130%; }

/* orange feed button */
.feedbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}
.feedbutton:hover {
	color: white !important;
	background: #ff9900;
}

.FlattrButton {
	display: none;
}

/* openid selector */
#openid_choice {
	display: none;
}
#openid_input_area {
	clear: both;
	padding: 10px;
}
#openid_btns, #openid_btns br {
	clear: both;
}
#openid_highlight {
	background-color: black;
	float: left;
}
.openid_large_btn {
	padding: 1em 1.5em;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
.openid_small_btn {
	padding: 4px 4px;
	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}
a.openid_large_btn:focus {
	outline: none;
}
a.openid_large_btn:focus {
	outline-style: none;
}
.openid_selected {
	border: 4px solid #DDD;
}

.fileupload-content .ui-progressbar {
	width: 200px;
	height: 20px;
}
.fileupload-content .ui-progressbar-value {
	background: url(ikiwiki/images/pbar-ani.gif);
}

.trails {
	margin-top: 1em;
	margin-bottom: 1em;
}
.trail {
	display: block;
	clear: both;
	position: relative;
}

.trailprev {
	display: block;
	text-align: left;
	position: absolute;
	top: 0%;
	left: 3%;
	width: 30%;
}

.trailup {
	display: block;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
}

.trailnext {
	display: block;
	text-align: right;
	position: absolute;
	top: 0%;
	width: 30%;
	right: 3%;
}

.trailsep {
	display: none;
}




div.page {
        margin: 0 auto;
        width: 980px;
        height: auto;
        position: center;
}

.title {
  color: #b3b3b3;
  font-weight: bold; }


.header .title {
	color: #000000;
	font-size: 16px;
}




.sidebar li {
        width: auto;
        height: 75px;
        margin: 0;
        float: left;
        list-style-type: none;
        padding: 0 6px 0 6px;
        display: inline;
        font-family: 'Verdana', Monaco, Arial, Times;
        font-size: 16px;
        line-height: 52px;
        text-transform:uppercase;
}


ul.sidebar {margin:0; padding:0 6px; z-index:0; height:75px}
ul.sidebar * {list-style:none}
ul.sidebar a {display:block; color:#555; text-decoration:none; font-size:14px}^
ul.sidebar a:focus {outline:0}
ul.sidebar li {position:relative; float:left; z-index:1}
ul.sidebar .menulink {line-height:65px; vertical-align: middle; padding:0px 10px; font-weight:bold}
ul.sidebar li a{line-height:65px; vertical-align: middle; padding:0px 10px; font-weight:bold}


#content {
        width: 950px;
        background: #ffffff url(images/module_gradient.png) repeat-x bottom center;
        position: relative;
        height: auto;
	margin-top:0px;
        display: block;
        text-align: left;
	margin-left:5px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-top: 20px;
        top: -10px;
}


div#pagebody {
        clear: left;
        width: 980px;
        text-align: center;
        height: auto;
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        display: inline;
	background: url(images/content_wrapper_edges_shadow.png) repeat top center;
	background-attachment: scroll;
	background-position: center top;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}

div.actions {
#	z-index: 2;	
	float: center;
	position:absolute;
	top:0;
	height: 20px;
#	width: 980px;
	border-width: 0px;
}



/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('font/fontawesome-webfont.eot');
  src: url('font/fontawesome-webfont.eot?#iefix') format('eot'), url('font/fontawesome-webfont.woff') format('woff'), url('font/fontawesome-webfont.ttf') format('truetype'), url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }

