<!-- Download -->
<section class="page-section" id="{{ site.data.sitetext[page.lang].download.section | default: "download" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[page.lang].download.title | default: "Download" }}</h2>
      </div>
    </div>

    <div class="row text-center" style="justify-content: center;">
      {% for download in site.data.sitetext[page.lang].download.list %}
      <div class="col-md-3">
        <a href="{{ download.url | default: '' }}" target="_blank">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-download fa-stack-1x fa-inverse"></i>
          </span>
          {% if download.recommended and download.recommended != nil %}
            <i class="fas fa-check fa-stack-2x fa-inverse" style="margin-left: 35px;margin-top: 20px; color: #68d3ff"></i>
          {% endif %}
          <h4 class="service-heading">{{ download.title | default: "Download" }}</h4>
        </a>
        <div style="font-weight: bold; font-style: italic;color: #68d3ff">{{ download.recommended | default: "" }}</div>
        <div class="text-muted">{{ download.desc | default: "" }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>