  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top">
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        {% for link in site.data.navigation[page.lang].nav %}
          <li class="nav-item">
            {%- if link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            {%- else if link.section -%}
              <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {% endfor %}
          <!-- <li class="nav-item">
            <a class="nav-flag js-scroll-trigger" href="/index.html">
              <img src="/assets/img/locale/en.png">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-flag js-scroll-trigger" href="/index.fr.html">
              <img src="/assets/img/locale/fr.png">
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
  
  <!-- Header -->
  {% if page.layout == "post" %}
  <header class="masthead" style="background-color: #5e616c; background: unset !important; height: 130px !important;">
    <div class="container">
      <div class="intro-text">
    {%- if site.data.sitetext[page.lang].header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext[page.lang].header.title | markdownify }}</div>
    {%- endif -%}
    {%- if site.data.sitetext[page.lang].header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext[page.lang].header.text | markdownify }}</div>
    {%- endif -%}
    {%- if site.data.sitetext[page.lang].header.button -%}
        <a class="btn-header btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[page.lang].header.buttonlink }}">{{ site.data.sitetext[page.lang].header.button }}</a>
    {%- endif -%}
      </div>
    </div>
  </header>

  {% else %}
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
      {%- if site.data.sitetext[page.lang].header.title -%}
          <div class="intro-lead-in">{{ site.data.sitetext[page.lang].header.title | markdownify }}</div>
      {%- endif -%}
      {%- if site.data.sitetext[page.lang].header.text -%}
          <div class="intro-heading text-uppercase">{{ site.data.sitetext[page.lang].header.text | markdownify }}</div>
      {%- endif -%}

      <div style="font-size: 20px;margin-bottom: 20px; display: flex;">
        <div style="margin-left: auto;margin-right: auto;border-left: 2px solid white;border-right: 2px solid white;padding-left: 10px;padding-right: 10px;">
        <i class="fas fa-bullhorn"></i>
        {% if page.lang == "fr" %}
          {% assign frPosts = site.posts | where: 'lang', 'fr' %}
          {% for post in frPosts limit:1 %}
            <span><i>{{ post.date  | date: "Dernière news le %-d %B %Y" }} :</i></span>
            <br>
            <a href="{{ post.url }}" style="color: white;"><i class="fas fa-sign-in-alt"></i> {{ post.title }}</a>
          {% endfor %}
        {% endif %}

        {% if page.lang == "en" %}
          {% assign enPosts = site.posts | where: 'lang', 'en' %}
          {% for post in enPosts limit:1 %}
            <span><i>{{ post.date  | date: "The last news on %-d %B %Y" }}:</i></span>
            <br>
            <a href="{{ post.url }}" style="color: white;"><i class="fas fa-sign-in-alt"></i> {{ post.title }}</a>
          {% endfor %}
        {% endif %}
        </div>
        <div style="z-index: 10; position: absolute;">
          <a href="https://www.kickstarter.com/projects/ddurieux/free-software-fusioninventory-30-andand-fusionsuite-10">
            <img src="/assets/img/kickstarter.png">
          </a>
        </div>        
      </div>

      {%- if site.data.sitetext[page.lang].header.button -%}
          <a class="btn-header btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[page.lang].header.buttonlink }}">{{ site.data.sitetext[page.lang].header.button }}</a>
      {%- endif -%}
        </div>
      </div>
    </header>
  {% endif %}
  
  <!-- End Header -->
