/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: #F2F2F2;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
         margin-left: $spacing-unit * 2;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


.post-content {
	counter-reset: section-1, section-2, section-3, section-4;
}

.post-content h1 {
    color: #333;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    font-size: $base-font-size * 2;
    line-height: 110%;
    margin: 1.1rem 0 0.8rem 0;
    counter-increment: section-1;
    counter-reset: section-2 section-3 section-4;
}

.post-content h2 {
    color: #333;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    font-size: $base-font-size * 1.5;
    line-height: 110%;
    margin: 0.8rem 0 0.8rem 0.5rem;
    counter-increment: section-2;
    counter-reset: section-3 section-4;
}

.post-content h3 {
    color: #333;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    font-size: $base-font-size * 1.2;
    line-height: 110%;
    margin: 0.8rem 0 0.8rem 1.5rem;
    counter-increment: section-3;
    counter-reset: section-4;
}

.post-content h4 {
    color: #333;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    font-size: $base-font-size;
    line-height: 110%;
    margin: 0.8rem 0 0.8rem 2.5rem;
    counter-increment: section-4;
}

.post-content h1:before { content: counter(section-1) ". "; }
.post-content h2:before { content: counter(section-1) "." counter(section-2) ". "; }
.post-content h3:before { content: counter(section-1) "." counter(section-2) "." counter(section-3) ". "; }
.post-content h4:before { content: counter(section-1) "." counter(section-2) "." counter(section-3) "." counter(section-4) ". "; }


.post-content hr {
    margin: 0.8rem 0 0.8rem 0;
}

.post-content table {
    line-height: 80%;
    border-spacing: 0;
    td, th {
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding: 5px 5px;
        vertical-align: middle;
        text-align: center;
    }
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #fff;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper-menu {
   background-color: #949494;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
