---
layout: default
---
<div class="post">

  <article class="post-content">
    {{ content }}
  </article>


  <footer>

    <a href="https://github.com/Alignak-monitoring/alignak-monitoring.github.io/tree/master/{{ page.path }}"><img src="{{ baseurl }}/images/edit_page.png" title="Edit this page on github"/></a>
    <a href="https://github.com/Alignak-monitoring/alignak-monitoring.github.io/issues/new?title={{ page.path }}"><img src="{{ baseurl }}/images/report_issue.png" title="Report issue on github"/></a>

    <!--the Twitter base https://twitter.com/share -->

    <a href="https://twitter.com/share?text={{ page.title }}&url={{ page.shorturl }}&via=alignak_monitor">
        <!-- use the twitter logo for the link -->
        <img alt="..." class="footer-icon" src="{{ site.baseurl }}/images/twitter.png">
    </a>


    <!--the Facebook base https://www.facebook.com/dialog/share? -->

    <!--<a href="https://www.facebook.com/dialog/share?app_id=&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}"> -->

        <!-- use the facebook logo for the link -->
        <!--<img alt="..." class="footer-icon" src="{{ site.baseurl }}/images/facebook.png">
    </a>-->

    <!--the LinkedIn base url  http://www.linkedin.com/shareArticle?mini=true -->

    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}">

        <!-- use the linkedin logo for the link -->
        <img alt="..." class="footer-icon" src="{{ site.baseurl }}/images/linkedin.png">

    </a>

    <!--the Google+ link url; base = https://plus.google.com/share? -->

    <a href="https://plus.google.com/share?url=http://alignak-monitoring.github.io{{ page.url }}&hl=en-US" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">

        <!-- use the google+ logo for the link -->
        <img alt="..." class="footer-icon" src="{{ site.baseurl }}/images/google_plus.png">
    </a>

  </footer>
</div>
