---
layout: default
---

<div style="background-color: #5e616c; height: 200px;" class="fixed-top">
  <div style="padding-top: 120px;max-width: 1370px;margin-right: auto; margin-left: auto;">
    <h1 style="color: white;text-align: center;"><i class="fas fa-bullhorn"></i> {{ page.title }}</h1>
  </div>
</div>

{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer" style="padding-bottom: 200px;padding-top: 260px !important; min-height: 900px;">
{{ content }}
</div>

{% include contact.html %}
